
.menu-button {
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
  }

  .menu-button:hover {
    background-color: #f44336;
  }
  
  .sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.3s ease;
  }

  h2 {
    position : relative;
    text-align: center;
    font-weight: 2px;
  }

  .h2side {
    position: absolute;
    top : 20%;
    left : 20%;
    right: 20%;
    font-size: 15px;
  }

  .nama-user {
    font-weight: 25px;
    color :#f44336;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    background-color: #333;
    text-align: center;
  }
  
  .sidebar-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .sidebar-footer {
    padding: 20px;
    background-color: #333;
    text-align: center;
  }

  .back-btn {
    padding : 5px;
    cursor: pointer;
  }
  
  .logout-btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
  }

  .logout-btn:hover {
    background-color: black;
    color: #f44336;
  }

  .masuk {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
  }

  .masuk:hover {
    background-color: black;
    color: #f44336;
  }

  .name-user {
    font-size: 20px;
  }
  
  
  